* {
	margin: 0px;
	padding: 0px;
	outline: none;
	border: 0px;
}

body {
	background-image: linear-gradient(to right top, #003166, #435281, #70769c, #9b9cb9, #c6c5d6, #d2cce0, #e0d3e9, #eedaf1, #eebbda, #f09bb6, #eb7d87, #db6551);
	font-family: sans-serif;
	color: black;
}
	
#login { 
	height: 100vh;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
    }
		
		.login-container {
			background: rgba(201, 52, 224, 0.05);
			width: 475px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			padding: 45px 25px;
			border-radius: 25px;
			box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.2);
        }
			
			h1 {
				margin-bottom: 45px;
			}
			
			.form {
				display: flex;
				flex-direction: column;
				text-align: center;
				width: 70%;
            }
				
.field-container{
					display: flex;
					flex-direction: column;
}
					
					label {
						text-align: left;
						font-size: 1.3rem;
						opacity: .7;
						padding: 10px 0px;
					}
					
					.field {
						margin-bottom: 25px;
						height: 40px;
						width: 100%;
						color: black;
						background: rgba(0,0,0,0);
						border-bottom: 2px solid rgba(255,255,255, .3);
						font-size: 1.2rem;
						font-weight: bold;
						text-align: center;
						transition: .5s ease-in-out;
					}
                    .field:focus {
						color: black;
						border-bottom: 2px solid rgba(255,255,255, 1);
					}
	
				
				input[type=submit] {
					background: rgba(255, 255, 255, .1);
					padding: 15px;
					margin: 20px 0px;
					border-radius: 25px;
					font-size: 1.3rem;
					color: #fff;
					transition: .5s ease-in-out;
					cursor: pointer;
				}
                 input[type=submit]:hover {
					background: rgba(255, 255, 255, .13);
					box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.1);
				}


                #submit{
                    --glow-color: rgb(217, 176, 255);
                    --glow-spread-color: rgba(191, 123, 255, 0.781);
                    --enhanced-glow-color: rgb(231, 206, 255);
                    --btn-color: rgb(100, 61, 136);
                    border: .25em solid var(--glow-color);
                    padding: 1em 3em;
                    color: var(--glow-color);
                    font-size: 15px;
                    font-weight: bold;
                    background-color: var(--btn-color);
                    border-radius: 1em;
                    outline: none;
                    box-shadow: 0 0 1em .25em var(--glow-color),
                           0 0 4em 1em var(--glow-spread-color),
                           inset 0 0 .75em .25em var(--glow-color);
                    text-shadow: 0 0 .5em var(--glow-color);
                    position: relative;
                    transition: all 0.3s;
                   }
                   
                   #submit::after {
                    pointer-events: none;
                    content: "";
                    position: absolute;
                    top: 120%;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-color: var(--glow-spread-color);
                    filter: blur(2em);
                    opacity: .7;
                    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
                   }
                   #submit:hover {
                    color: var(--btn-color);
                    background-color: var(--glow-color);
                    box-shadow: 0 0 1em .25em var(--glow-color),
                           0 0 4em 2em var(--glow-spread-color),
                           inset 0 0 .75em .25em var(--glow-color);
                   }
                   
                   #submit:active {
                    box-shadow: 0 0 0.6em .25em var(--glow-color),
                           0 0 2.5em 2em var(--glow-spread-color),
                           inset 0 0 .5em .25em var(--glow-color);
                   }